<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
   
	<link href="../assets/css/offcanvas.css" rel="stylesheet">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">
	

    <!-- Custom styles for this template -->
    <link href="../assets/css/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="custom-background">
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Projections</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a id="homeurl" href="/dropbox/home/xyz/listoffiles">Home</a></li>
           <li><a href="#" id="uploadurl" data-toggle="modal" data-target="#myModal">Upload</a></li>
            <li><a id="shareurl" href="/dropbox/home/xyz/sharefiles">Shared Files</a></li>
			<li class="active"><a id="deleteurl" href="/dropbox/home/xyz/deletedfiles">Deleted Files</a></li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
          	<li><a id="logout" href="/dropbox">Logout</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

	<br/>
	<br/>
	<div id="container-data">
	<div class="container">

      	<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          
          <div class="jumbotron">
            
            <table class="table table-hover" style="font-family:calibri;padding: 3px 15px;">
          	  <thead>
            	<tr style="background-color:#428bca;color:#fff;">
            		<th>Name</th>
            		<th>Date</th>
            		<th>Recover</th>
            		<th>Delete</th>
            	</tr>
            </thead>
            <tbody>
            {{#listOfFiles}}
            	<tr>
            		<td>{{file}}</td>
            		<td>{{date}}</td>
            		<td><button class="btn btn-success" name="download">Recover</button></td>
            		<td><button class="btn btn-danger" name="delete" title="Clicking this permanently deletes your file.">Delete</button></td>
            	</tr>
            {{/listOfFiles}}
            
            </tbody>
            </table>
         </div>
        </div><!--/span-->
    
        </div><!--/row-->
      
      <hr>

      <footer>
        <p>Projections &copy; Company 2013</p>
      </footer>

    </div><!--/.container-->
	</div><!--/.container-data-->
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload a file</h4>
      </div>
      <div class="modal-body">
        <input type="file" name="filepath" id="link" >
	  </div>
      <div class="modal-footer">
        <input id="upload" class="btn btn-lg btn-primary" type="submit" value="Upload" name="upload" >
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
	 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/offcanvas.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	
	<!-- -->
	<script type="text/javascript">
			
		$(":button").click(function() {
		
			var button_pressed=$(this).attr("name");//button name
			var tag = $(this).parent().parent().children(":first-child").text();//filename
			
			var pathArray=window.location.pathname.split('/');
			var existinguser=pathArray[3];
	       
        	if(button_pressed=="delete"){
        	var uri = "/dropbox/v1/documents/old/"+existinguser+"/trash/delete?fileName="+tag;
        	       
       		 $.ajax({
            	      url: uri,
                	  type: 'DELETE',
                  	  success: function(data) {
                      alert("success");
                      },
                      error:function(xhr, statusText){
    						if (xhr.status == 200)
    						{
    				 			window.location = "/dropbox/home/"+existinguser+"/deletedfiles";
    						}
    					}
               });
              
              }
             
             if(button_pressed=="download"){
            
        	var uri = "/dropbox/v1/documents/old/"+existinguser+"/trash/recover?filepath=D:/"+tag+".zip&fileName="+tag;
        	
        	 alert("Your file has been recovered and is available in the Home Section!");    
       		 $.ajax({
            	      url: uri,
                	  type: 'POST',
                  	  success: function(data) {
                         alert("success");
                      },
                      error:function(xhr, statusText){
    						if (xhr.status == 200)
    						{
    				 			window.location = "/dropbox/home/"+existinguser+"/deletedfiles";
    						}
    					}
                });
              
              }
		});	
	
	</script>
  	<!-- script for delete-->
  
  <!-- -->
	<script type="text/javascript">
	
	$( window ).load(function() {
	
  		var pathArray=window.location.pathname.split('/');
		var existinguser=pathArray[3];
		var url = "/dropbox/home/"+existinguser+"/deletedfiles"
		$("#deleteurl").attr("href", url );
		url = "/dropbox/home/"+existinguser+"/sharedfiles"
		$("#shareurl").attr("href", url );
		url = "/dropbox/home/"+existinguser+"/listoffiles"
		$("#homeurl").attr("href", url );
	
	});
	
	function deletedfilespage(){
	var pathArray=window.location.pathname.split('/');
	var existinguser=pathArray[3];
	windows.location='/dropbox/home/'+existinguser+'/deletedfiles';
	return true;
	}
	</script>
	
	<script type="text/javascript">
				$( "#upload" ).click(function() {
					var f = document.getElementById('link').value;
		
					var pathArray=window.location.pathname.split('/');
					var existinguser=pathArray[3];
					var uri = "/dropbox/v1/documents/old/"+existinguser+"/upload?filepath="+f;
        	
			       
       		 $.ajax({
            	     url: uri,
                	  type: 'POST',
                  	  success: function(data) {
                         window.location = "/dropbox/home/"+existinguser+"/listoffiles";
                      },
                      error:function(xhr, statusText){
                      
    						if(xhr.status == 200)
    						{
    				 			window.location = "/dropbox/home/"+existinguser+"/listoffiles";
    						}
    					}
               });
            
	});
	
	
	</script>
	
  </body>
</html>